@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');

header {
  position: relative;
  padding-left: 4rem;
  color: white;
  font-size: large;
}

.content{
  white-space: nowrap;
}

body{
  background-color: green;
  font-family: "NTR", sans-serif; 
}

.wrapper {
  text-align: center;
  margin: auto;
}

.nav div {
  height: 5px;
  background-color: white;
  margin: 4px 0;
  border-radius: 25px;
}

.nav {
  width: 40px;
  display: block;
  margin-left: 22em;
  margin-bottom: 1em;
  position: sticky;
  float: right;
}

.one {
  width: 40px;
  float: right;
}

.two {
  width: 30px;
  float: right;
}

.three {
  width: 35px;
  float: right;
}

.nav:hover div {
  width: 40px;
}

h2 {
  color: white;
}

p {
    color: lightblue;
}

.container {
    display: flex;
}

.toRight {
    margin-left: auto;
}

button:hover {
    color: black;
    background-color: gold;
}


