.ntr-regular {
  font-family: "NTR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.wrapper {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.nav div {
  height: 4px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.nav {
  width: 30px;
  display: block;
  margin: 1em 0 0 1em;
}

.one {
  width: 30px;
}

.two {
  width: 20px;
}

.three {
  width: 25px;
}

.nav:hover div {
  width: 30px;
}

p {
    color: lightblue;
}

.container {
    display: flex;
}

.toRight {
    margin-left: auto;
}

button:hover {
    color: black;
    background-color: gold;
}


